USE [Films]
GO
/****** Object:  Table [dbo].[SQL_code]    Script Date: 11/16/2021 1:01:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SQL_code](
	[column1] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
